<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bankru_project.Properties.Settings.PTECPOSConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PTECPOS;Persist Security Info=True;User ID=Pong;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>